*{
    margin:0;
    padding:0;

}


.main{
    width:100%;
    background: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(1.jpg);
    background-position: center;
    background-size: cover;
    height:109vh;

}
.navbar{
    width :1200px;
    height:75px;
    margin:auto;
}
.par{
    color: white;
}

.icon{
    
    width:200px;
    float:left;
    height:70px;

}

.logo{
    color:rgb(254, 165, 0);
    font: size 35px;
    font-family: Arial;
    padding-left: 20px;
    float:left;
    padding-top:10px;
    height:auto;
    width:auto;
    

}
.menue{
    width:400px;
    float: left;
    height:70px;


}
ul{
    float: left;
    display: flex ;
    justify-content: center ;
    align-items: center;
    

}
ul li{
    list-style:none ;
    margin-left:62px ;
    margin-top:27px;
    font-size: 14px;
    cursor: pointer;
    height: auto;
    width: auto;
    border-radius: 8px;
    
    
}

ul li a{
    text-decoration:none;
    color: white;
    font-family:Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover{
    color:orange;

}
ul li a:active{
    color:white;
    background-color: black;
}
.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}
.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height:40px;
    background: transparent;
    border: 1px solid #ff7200;
    margin-top: 13px;
    color:white;
    border-right: none;
    float:left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    font-size : 16px;
}
.btn{
    width: 100px;
    height:40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 13px;
    color: white;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.btn:focus{
    outline: none;
}
.srch:focus{
    outline: none;
}
.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: white;
    position: relative;
}
.content .Par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing:1.2px;
    line-height: 30px;
    color: rgb(250, 158, 0);
}
.content h1{
    font-family: 'Times New Romwn';
    font-size: 50px;
    padding-left: 20px ;
    margin-top: 9%;
    letter-spacing: 2px;

}
.logo{
    width: 50px;
    height: 40px;
    margin-top: 1px;
    margin-left: 1px;
    color: orange;
    border-radius: 18px;


}
.content .cn{
    width: 160px;
    height: 40px;
    background: orange ;
    border:none;
    color: black;
    border-radius: 8px;
    transition: opacity,ease-out 0.15s;

}
.content .cn:hover{
    opacity: 0.5;
    background-color: white;

}
.her{
    color: white;
    background-color: aliceblue;

}
.content span{
    color: orange;
    font-size: 60px;

}
.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}
.content .cn:active{
        
}
.form{
    width: 240px;
    height: 380px;
    align-items: center;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: -22px;
    left: 770px;
    border-radius: 10px;
    padding: 25px;
}
.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    align-items: center;
    color: #ff7200;
    font-size: 22px;
    background-color: white ;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}
.form input{
    width: 240px;
    height: 35px;
    align-items: center;
    background: transparent;
    border-bottom:1px solid orange ;
    border-top: none;
    border-right: none;
    border-left: none;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}
.form input:focus{
    outline: none;
    align-items: center;

}
::placeholder{
    color: white;
    font-family: Arial;
    align-items: center;

}
.btnn{
    width: 240px;
    height: 40px;
    background: orange;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: 0.4s ease;

}
.btnn:hover{
    background: white;
    color: orange;

}
.btnn:a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.form.link{
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 17px;
    padding-top: 20px;
    text-align: center; 
}
.form .link a{
    text-decoration: none;
    color: orange;
}
.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}
.icon a{
    text-decoration: none;
    color: white;
}
.icon ion-icon:hover{
    color:orange;
}
.icon ion-icon{
    color:white;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition:0.3s ease ;

}

.singg{
    padding: 2px;
    margin: 2px;
    font-family: sans-serif;
    background-image: url("back.avif");
    background-size: cover;
    background-position: center;
}
.sign-up-foam{
    margin-top: -10px;
    margin-bottom: 10px;
    width:400px;
    height: 550px;
    box-shadow:0 0 3px 0 rgba(0,0,0,0.3) ;
    background: #fff;
    background-color: white;
    padding: 20px;
    margin: 8% auto ;
    text-align: center;
    
    
}
    .sign-up-foam h1{
        
        color: orange;
        margin-top: auto;
        margin-bottom: auto;
    }
    .input-box{
        border-radius: 20px;
        padding: 10px;
        margin:10px 0 ;
        width: 60%;
        border: 1px solid #999;
        outline: none;
        color:orange ;
        background-color: black;
    }

    .DD{
        padding: 5px;
        border-radius: 70px;
        background-color: black;
        color: orange;
        text-align: center;
        height: auto;
        width: auto;

    }
    button{
    color: #fff;
    width: 60%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
    transition: ease-in-out cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    button:hover{
        background-color: #ff7200;

    }
    button:active{
        opacity: 0.5;
    }
    .signup-btn{
        background-color:#1c8adb ;

    }
    .twitter-btn{
        background-color: #21afde;
    }
    a{
        text-decoration: none;

    }
    hr{
        margin-top: 20px;
        width: 80px;
    }
    
    img{
        width: 70px;
        height: 70px;
        margin-top: 100px; 
        margin-left: 60px;


    }
    .sign-up-foam h1{
        text-align: center;
    }
    .Class{
        color: #ff7200;
        width: auto;
        height: auto;
    }